%header#header
  = link_to "#{config[:root]}/", class: "homelink" do
    %h2 マインクラフトコース

#drw-btn
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar
%nav#nav-menu
  %ul
    %li
      = link_to "TOP", "#{config[:root]}/"
    %li
      = link_to "BASIC", "#{config[:root]}/contents/basic/"
    %li
      = link_to "STANDARD", "#{config[:root]}/contents/standard/"
    %li
      = link_to "ADVANCED", "#{config[:root]}/contents/advanced/"
    %li
      = link_to "PRO", "#{config[:root]}/contents/pro/"
#drw-layer
