---
title: Stage3
---

.content1
  .logo
    %img{:src => "/images/TechChanceLogo.svg"}/

.squares-container
  = link_to "https://hackmd.io/lIR4OqQvQH25-DXt_N4udA", target: "_blank", class: "item" do
    %div
      %h2
        %span 17
        %br
        Lesson

  = link_to "https://hackmd.io/bA8rawUHQpCEPp7ffxoMGQ", target: "_blank", class: "item" do
    %div
      %h2
        %span 18
        %br
        Lesson

  = link_to "https://hackmd.io/qWF6OKTjTXiSfcWTYKkgUw", target: "_blank", class: "item" do
    %div
      %h2
        %span 19
        %br
        Lesson

  = link_to "https://hackmd.io/qaY8rkTWSyCFPRM3WyHXig", target: "_blank", class: "item" do
    %div
      %h2
        %span 20
        %br
        Lesson

  = link_to "https://hackmd.io/2-9PMwZLRwSK8f4_-XwjzQ", target: "_blank", class: "item" do
    %div
      %h2
        %span 21
        %br
        Lesson

  = link_to "https://hackmd.io/iWNqUbRDSb-3x0tZnTj9dA", target: "_blank", class: "item" do
    %div
      %h2
        %span 22
        %br
        Lesson

  = link_to "https://hackmd.io/lZg7QeUzQhepQXZwLt4GOQ", target: "_blank", class: "item" do
    %div
      %h2
        %span 23
        %br
        Lesson

  = link_to "https://hackmd.io/C31wJtoeQ5mUltvxL3yETw", target: "_blank", class: "item" do
    %div
      %h2
        %span 24
        %br
        Lesson
