---
title: Stage4
---

-# .content1
-#   .logo
-#     %img{:src => "/images/TechChanceLogo.svg"}/

.squares-container
  = link_to "#{config[:root]}/", class: "item" do
    .logo-img

  = link_to "https://hackmd.io/wWoMrHlCRWOHMeDawo8kLQ", target: "_blank", class: "item" do
    %div
      %h2
        %span 31
        %br
        Lesson

  = link_to "https://hackmd.io/4wOdilWtRCi2tQO1DUCXNw", target: "_blank", class: "item" do
    %div
      %h2
        %span 32
        %br
        Lesson

  = link_to "https://hackmd.io/0YGET7I-SaOLEdETXsjExg", target: "_blank", class: "item" do
    %div
      %h2
        %span 33
        %br
        Lesson

  = link_to "https://hackmd.io/3URT_GrJTEqiWIcf8xPq-g", target: "_blank", class: "item" do
    %div
      %h2
        %span 34
        %br
        Lesson

  = link_to "https://hackmd.io/kRW8dempSUK4NvzClTXdWA", target: "_blank", class: "item" do
    %div
      %h2
        %span 35
        %br
        Lesson

  = link_to "https://hackmd.io/VBSnlllPSRWw3fzXi7I9xw", target: "_blank", class: "item" do
    %div
      %h2
        %span 36
        %br
        Lesson
  
  = link_to "https://hackmd.io/DZIo_58gQLOKAMa7XNyUmw", target: "_blank", class: "item" do
    %div
      %h2
        %span 37
        %br
        Lesson

  = link_to "https://hackmd.io/EF-rx53BQ3CfP5iww0ylfQ", target: "_blank", class: "item" do
    %div
      %h2
        %span 38
        %br
        Lesson

  = link_to "https://hackmd.io/shJ2H2E5Td-3pz8dB77JrA", target: "_blank", class: "item" do
    %div
      %h2
        %span 39
        %br
        Lesson

  = link_to "https://hackmd.io/Qe3o6goZQbO9qFQdv3muEA", target: "_blank", class: "item" do
    %div
      %h2
        %span 40
        %br
        Lesson

  = link_to "#{config[:root]}/", class: "item" do
    .stage
      %h2
        TOP PAGE
