---
title: Stage2
---

-# .content1
-#   .logo
-#     %img{:src => "/images/TechChanceLogo.svg"}/

.squares-container
  = link_to "#{config[:root]}/", class: "item" do
    .logo-img

  = link_to "https://hackmd.io/LQhta0DMRZKnM-iun0rGSg", target: "_blank", class: "item" do
    %div
      %h2
        %span 11
        %br
        Lesson

  = link_to "https://hackmd.io/yT1aeTNTTbGbY4kGN2sk_Q", target: "_blank", class: "item" do
    %div
      %h2
        %span 12
        %br
        Lesson

  = link_to "https://hackmd.io/e01E8xgcSbSgWZ2JAquI5Q", target: "_blank", class: "item" do
    %div
      %h2
        %span 13
        %br
        Lesson

  = link_to "https://hackmd.io/WxiLEv4UQaGyE_TK4hBahA", target: "_blank", class: "item" do
    %div
      %h2
        %span 14
        %br
        Lesson

  = link_to "https://hackmd.io/fClPjKV7Sb-ZW_6E8tezSA", target: "_blank", class: "item" do
    %div
      %h2
        %span 15
        %br
        Lesson

  = link_to "https://hackmd.io/zuDwej0rRaKGXLzWQdWh2w", target: "_blank", class: "item" do
    %div
      %h2
        %span 16
        %br
        Lesson

  = link_to "https://hackmd.io/lIR4OqQvQH25-DXt_N4udA", target: "_blank", class: "item" do
    %div
      %h2
        %span 17
        %br
        Lesson

  = link_to "https://hackmd.io/bA8rawUHQpCEPp7ffxoMGQ", target: "_blank", class: "item" do
    %div
      %h2
        %span 18
        %br
        Lesson

  = link_to "https://hackmd.io/qWF6OKTjTXiSfcWTYKkgUw", target: "_blank", class: "item" do
    %div
      %h2
        %span 19
        %br
        Lesson

  = link_to "https://hackmd.io/qaY8rkTWSyCFPRM3WyHXig", target: "_blank", class: "item" do
    %div
      %h2
        %span 20
        %br
        Lesson

  = link_to "#{config[:root]}/contents/advanced/", class: "item nextpage" do
    .stage.advanced
      %h2
        %span 21-30
        %br
        NEXT

  
