---
title: Stage2
---

.content1
  .logo
    %img{:src => "/images/TechChanceLogo.svg"}/

.squares-container
  = link_to "#", class: "item" do
    %div
      %h2
        %span 9
        %br
        Lesson

  = link_to "#", class: "item" do
    %div
      %h2
        %span 10
        %br
        Lesson

  = link_to "#", class: "item" do
    %div
      %h2
        %span 11
        %br
        Lesson

  = link_to "#", class: "item" do
    %div
      %h2
        %span 12
        %br
        Lesson

  = link_to "#", class: "item" do
    %div
      %h2
        %span 13
        %br
        Lesson

  = link_to "#", class: "item" do
    %div
      %h2
        %span 14
        %br
        Lesson

  = link_to "#", class: "item" do
    %div
      %h2
        %span 15
        %br
        Lesson

  = link_to "#", class: "item" do
    %div
      %h2
        %span 16
        %br
        Lesson
