---
title: マインクラフトコース
---
-# .content1
-#   .logo
-#     %img{:src => "/images/TechChanceLogo.svg"}/

.squares-container
  = link_to "#{config[:root]}/", class: "item initial" do
    .logo-img

  = link_to "#{config[:root]}/contents/basic/", class: "item" do
    .stage.basic
      %h2
        LESSON
        %br
        %span 1-10
        
  = link_to "#{config[:root]}/contents/standard/", class: "item" do
    .stage.standard
      %h2
        LESSON
        %br
        %span 11-20

  = link_to "#{config[:root]}/contents/advanced/", class: "item" do
    .stage.advanced
      %h2
        LESSON
        %br
        %span 21-30
        

  = link_to "#{config[:root]}/contents/advanced/", class: "item" do
    .stage.pro
      %h2
        LESSON
        %br
        %span 31-40
        

  -# = link_to "#{config[:root]}/contents/basic/", class: "item initial-item item-left" do
  -#   %div
  -#     %h2
  -#       マインクラフトで
  -#       %br
  -#       プログラミングを始める
  -#
  -# = link_to "#", class: "item initial-item item-right" do
  -#   %div
  -#     %h2
  -#       準備中...
  -#       -# Atomエディタの
  -#       -# %br
  -#       -# 使い方講座

