---
title: マインクラフトコース
---
.content1
  .logo
    %img{:src => "/images/TechChanceLogo.svg"}/

.squares-container
  = link_to "https://hackmd.io/h_MypozFT7eB3SWu1lY9rQ", target: "_blank", class: "item" do
    %div
      %h2
        %span 1
        %br
        Lesson

  = link_to "https://hackmd.io/YxA7vSq9Ry6rgVpi4BT5og", target: "_blank", class: "item" do
    %div
      %h2
        %span 2
        %br
        Lesson

  = link_to "https://hackmd.io/3xQLoXCNQxeDMjF4VKjA6w", target: "_blank", class: "item" do
    %div
      %h2
        %span 3
        %br
        Lesson

  = link_to "https://hackmd.io/fFWj4VlDQFqUQNt1a9u0Qg", target: "_blank", class: "item" do
    %div
      %h2
        %span 4
        %br
        Lesson

  = link_to "https://hackmd.io/BotJHZguR-iZJSGpSUHF3w", target: "_blank", class: "item" do
    %div
      %h2
        %span 5
        %br
        Lesson

  = link_to "https://hackmd.io/kvCIqohBR42_AKsaxYzNBg", target: "_blank", class: "item" do
    %div
      %h2
        %span 6
        %br
        Lesson

  = link_to "#", class: "item item-gray-out" do
    %div
      %h2
        %span 7
        %br
        Lesson

  = link_to "#", class: "item item-gray-out" do
    %div
      %h2
        %span 8
        %br
        Lesson

  = link_to "#", class: "item item-gray-out" do
    %div
      %h2
        %span 9
        %br
        Lesson

  = link_to "#", class: "item item-gray-out" do
    %div
      %h2
        %span 10
        %br
        Lesson

  = link_to "#", class: "item item-gray-out" do
    %div
      %h2
        %span 11
        %br
        Lesson

  = link_to "#", class: "item item-gray-out" do
    %div
      %h2
        %span 12
        %br
        Lesson

  = link_to "#", class: "item item-gray-out" do
    %div
      %h2
        %span 13
        %br
        Lesson

  = link_to "#", class: "item item-gray-out" do
    %div
      %h2
        %span 14
        %br
        Lesson

  = link_to "#", class: "item item-gray-out" do
    %div
      %h2
        %span 15
        %br
        Lesson

  = link_to "#", class: "item item-gray-out" do
    %div
      %h2
        %span 16
        %br
        Lesson

  = link_to "#", class: "item item-gray-out" do
    %div
      %h2
        %span 17
        %br
        Lesson

  = link_to "#", class: "item item-gray-out" do
    %div
      %h2
        %span 18
        %br
        Lesson

  = link_to "#", class: "item item-gray-out" do
    %div
      %h2
        %span 19
        %br
        Lesson

  = link_to "#", class: "item item-gray-out" do
    %div
      %h2
        %span 20
        %br
        Lesson

  = link_to "#", class: "item item-gray-out" do
    %div
      %h2
        %span 21
        %br
        Lesson

  = link_to "#", class: "item item-gray-out" do
    %div
      %h2
        %span 22
        %br
        Lesson

  = link_to "#", class: "item item-gray-out" do
    %div
      %h2
        %span 23
        %br
        Lesson

  = link_to "#", class: "item item-gray-out" do
    %div
      %h2
        %span 24
        %br
        Lesson
