---
title: マインクラフトコース
---
.content1
  .logo
    %img{:src => "/images/TechChanceLogo.svg"}/

.squares-container
  - for num in 1 .. 40
    = link_to "#{config[:root]}/slide/lesson#{num}/", class: "item item#{num}" do
      %div
        %h2
          %span #{num}
          %br
          Lesson
